<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.stz7750.stz.users.mapper.UserMapper">
    <!-- <select id="selectUserInfo" resultType="store.stz7750.stz.users.vo.UserVO">
        SELECT
            *
        FROM
            userinfo
        WHERE
            id = #{id}
        AND
            password = #{password}
    </select> -->

    <select id="cntUserInfo" resultType="store.stz7750.stz.users.vo.UserVO">
        SELECT
            count(*)
        FROM
            userinfo
    </select>

    <insert id="insertUser" parameterType="store.stz7750.stz.users.vo.UserVO">
        INSERT INTO
            userinfo
            (
                id,
                name,
                ip,
                os,
                browser,
                email,
                password,
                role
            )
            VALUES
            (
                #{id},
                #{name},
                #{ip},
                #{os},
                #{browser},
                #{email},
                public.crypt(#{password, jdbcType=VARCHAR}, gen_salt('bf')),
                #{role}
            )
    </insert>
</mapper>