<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.stz7750.stz.testCase.user.mapper.UserMapperTest">
<!-- 유저의 테스트 케이스를 위한 매퍼 -->

    <insert id="insertRandomUserInfo">
        CALL insert_random_user_info(#{count})
    </insert>
</mapper>